/* * {
  margin: 0;
  padding: 0;
} */

/* color palette

#26877F
#E8E288;
#7DCE82;
#F19C79;
#2B4570;
#3CDBD3

*/

body {
  background-color: #e8e288;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 3%;
  margin-right: 3%;
}

h1 {
  font-size: 5rem;
  color: #2b4570;
  align-items: baseline;
  justify-content: baseline;
}

@media (max-width: 1300px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  font-size: 2rem;
  color: #f19c79;
}

header > a img {
  width: 125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 1s;
}

header > a img:hover {
  transform: scale(1.25, 1.25);
  transition: 2s;
}

nav .container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 1rem;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f19c79;
}

@media (max-width: 800px) {
  nav .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #26877f;
  font-weight: bold;
  padding: 25px;
  margin: 0 25px;
}

nav li a:visited {
  color: #2b4570;
}
nav li a:hover {
  text-shadow: 1px 1px 1px #2b4570;
}

nav li a:active {
  color: #2b4570;
  text-shadow: 1px 1px 1px #26877f;
}

section {
  display: flex;
}

@media (max-width: 800px) {
  section {
    flex-direction: column;
  }
}

article {
  flex: 1;
}

.banner-container {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

#banner-image {
  width: 100%;
  height: 60%;
  opacity: 90%;
  border: 0.25rem solid #26877f;
  border-radius: 1rem;
}

#banner-text-block {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  align-content: center;
  background-color: rgba(241, 157, 121, 0.8);
  width: 100%;
  height: 50%;
}

#banner-title a {
  color: #2b4570;
  text-decoration: none;
}

#banner-title a:hover {
  color: #26877f;
  text-shadow: 1px 1px 1px #2b4570;
  text-decoration: none;
}


.main-three-columns {
  display: flex;
  column-gap: 1rem;
  row-gap: 1rem;
}

@media (max-width: 1000px) {
  .main-three-columns {
    margin-top: 2rem;
    flex-direction: column;
  }
}

.card {
  background-color: #26877f;
  color: #e8e288;
  font-weight: bold;
  border-radius: 12px;
  padding: 2rem;
  transform: transition 1.5s;
}

.card:hover {
  transform: scale(1.05);
}

.card a {
  color: #f19c79;
  text-decoration: none;
}

.card a:hover {
  color: #7dce82;
  text-shadow: 1px 1px 1px #2b4570;
}

.contact-container {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.container-footer {
  display: flex;
  margin-top: 6rem;
}

.container-footer div {
  flex: 1;
  align-items: baseline;
}

#logo-footer {
  width: 80px;
  transition: transform 1s;
}

#logo-footer:hover {
  transform: scale(1.25);
}

.container-footer #copyright {
  color: #26877f;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: end;
  padding-top: 8rem;
}
